port: 7100

github:
  token: ghp_...
  slackWebhookUrl: https://hooks.slack.com/services/...

enterprise:
  label: GHE
  baseUrl: https://ghe.example.com/api/v3
  token: ghp_...
  slackWebhookUrl: https://hooks.slack.com/services/...

